<!-- Бекап -->

<h2>Мониторинг госуслуг в строительстве</h2>

<table border="0" cellpadding="0" cellspacing="0" class="doc-kpi-charts">
	<tbody>
		<tr>
			<td>
			<div class="doc-kpi-charts-title doc-kpi-charts-title_year">Данные за <span>&nbsp;</span> год</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_outer">Количество документов</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_inner">Средний срок на подготовку<br />
			документа в рабочих днях</div>
			</td>
			<td>&nbsp;</td>
			<td>
			<div class="doc-kpi-charts-title doc-kpi-charts-title_month">Данные за <span>&nbsp;</span> года</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_outer">Количество документов</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_inner">Средний срок на подготовку<br />
			документа в рабочих днях</div>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td><canvas height="200" id="doc-kpi-chart1" width="250"></canvas></td>
			<td>&nbsp;</td>
			<td><canvas height="200" id="doc-kpi-chart2" width="250"></canvas></td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="doc-kpi-table">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td class="doc-kpi-table-toptitle">Количество, ед.</td>
			<td class="doc-kpi-table-toptitle">Средний срок, раб. дней</td>
			<td>&nbsp;</td>
			<td class="doc-kpi-table-toptitle">Количество, ед.</td>
			<td class="doc-kpi-table-toptitle">Средний срок, раб. дней</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_gpzu">Градостроительный план<br />
			земельного участка</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_c_y">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_a_y">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_a_m">&nbsp;</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_rs">Разрешение<br />
			на строительство</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_c_y">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_a_y">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_a_m">&nbsp;</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_rv">Разрешение на ввод<br />
			в эксплуатацию</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_c_y">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_a_y">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_a_m">&nbsp;</td>
		</tr>
	</tbody>
</table>

<!-- Актуалочка -->

<h2>Мониторинг госуслуг в строительстве</h2>

<table border="0" cellpadding="0" cellspacing="0" class="doc-kpi-charts">
	<tbody>
		<tr>
			<td>
			<div class="doc-kpi-charts-title doc-kpi-charts-title_year">Данные за <span>&nbsp;</span> год</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_outer">Количество документов</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_inner">Средний срок на подготовку <br/>документа в рабочих днях</div>
			</td>
			<td>&nbsp;</td>
			<td>
			<div class="doc-kpi-charts-title doc-kpi-charts-title_month">Данные за <span>&nbsp;</span> года</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_outer">Количество документов</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_inner">Средний срок на подготовку <br/>документа в рабочих днях</div>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td><canvas height="200" id="doc-kpi-chart1" width="250"></canvas></td>
			<td>&nbsp;</td>
			<td><canvas height="200" id="doc-kpi-chart2" width="250"></canvas></td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="doc-kpi-table">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td class="doc-kpi-table-toptitle">Количество, ед.</td>
			<td class="doc-kpi-table-toptitle">Средний срок, раб. дней</td>
			<td>&nbsp;</td>
			<td class="doc-kpi-table-toptitle">Количество, ед.</td>
			<td class="doc-kpi-table-toptitle">Средний срок, раб. дней</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_gpzu">Градостроительный план<br />
			земельного участка</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_c_y">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_a_y">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_a_m">&nbsp;</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_rs">Разрешение<br />
			на строительство</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_c_y">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_a_y">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_a_m">&nbsp;</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_rv">Разрешение на ввод<br />
			в эксплуатацию</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_c_y">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_a_y">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_a_m">&nbsp;</td>
		</tr>
	</tbody>
</table>


<!-- Версия без года -->


<table border="0" cellpadding="0" cellspacing="0" class="doc-kpi-charts">
	<tbody>
		<tr>
		<td>
			<div class="doc-kpi-charts-title doc-kpi-charts-title_month">Данные за <span>&nbsp;</span> года</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_outer">Количество документов</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_inner">Средний срок на подготовку <br/>документа в рабочих днях</div>
			</td>
			<td>&nbsp;</td>			
			<td style="opacity: 0;">
			<div class="doc-kpi-charts-title doc-kpi-charts-title_year">Данные за <span>&nbsp;</span> год</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_outer">Количество документов</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_inner">Средний срок на подготовку <br/>документа в рабочих днях</div>
			</td>			
		</tr>
		<tr>
		</tr>
		<tr>
			<td><canvas height="200" id="doc-kpi-chart2" width="250"></canvas></td>
			<td>&nbsp;</td>
			<td style="opacity: 0;"><canvas height="200" id="doc-kpi-chart1" width="250"></canvas></td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="doc-kpi-table">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td class="doc-kpi-table-toptitle">Количество, ед.</td>
			<td class="doc-kpi-table-toptitle">Средний срок, раб. дней</td>
			<td>&nbsp;</td>
			<td class="doc-kpi-table-toptitle" style="opacity: 0;">Количество, ед.</td>
			<td class="doc-kpi-table-toptitle" style="opacity: 0;">Средний срок, раб. дней</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_gpzu">Градостроительный план<br />
			земельного участка</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_a_m">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_c_y" style="opacity: 0;">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_a_y" style="opacity: 0;">&nbsp;</td>			
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_rs">Разрешение<br />
			на строительство</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_a_m">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_c_y" style="opacity: 0;">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_a_y" style="opacity: 0;">&nbsp;</td>			
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_rv">Разрешение на ввод<br />
			в эксплуатацию</td>						
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_a_m">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_c_y" style="opacity: 0;">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_a_y" style="opacity: 0;">&nbsp;</td>
		</tr>
	</tbody>
</table>

<!-- 2 месяца -->

<h2>Мониторинг госуслуг в строительстве</h2>

<table border="0" cellpadding="0" cellspacing="0" class="doc-kpi-charts">
	<tbody>
		<tr>
			<td>
			<div class="doc-kpi-charts-title doc-kpi-charts-title_lm">Данные за <span>&nbsp;</span> года</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_outer">Количество документов</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_inner">Средний срок на подготовку <br/>документа в рабочих днях</div>
			</td>
			<td>&nbsp;</td>
			<td>
			<div class="doc-kpi-charts-title doc-kpi-charts-title_month">Данные за <span>&nbsp;</span> года</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_outer">Количество документов</div>

			<div class="doc-kpi-charts-subtitle doc-kpi-charts-subtitle_inner">Средний срок на подготовку <br/>документа в рабочих днях</div>
			</td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td><canvas height="200" id="doc-kpi-chart1" width="250"></canvas></td>
			<td>&nbsp;</td>
			<td><canvas height="200" id="doc-kpi-chart2" width="250"></canvas></td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" class="doc-kpi-table">
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td class="doc-kpi-table-toptitle">Количество, ед.</td>
			<td class="doc-kpi-table-toptitle">Средний срок, раб. дней</td>
			<td>&nbsp;</td>
			<td class="doc-kpi-table-toptitle">Количество, ед.</td>
			<td class="doc-kpi-table-toptitle">Средний срок, раб. дней</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_gpzu">Градостроительный план<br />
			земельного участка</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_c_lm">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_a_lm">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_gpzu_a_m">&nbsp;</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_rs">Разрешение<br />
			на строительство</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_c_lm">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_a_lm">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rs_a_m">&nbsp;</td>
		</tr>
		<tr>
			<td class="doc-kpi-table-sidetitle doc-kpi-table-sidetitle_rv">Разрешение на ввод<br />
			в эксплуатацию</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_c_lm">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_a_lm">&nbsp;</td>
			<td class="doc-kpi-table-sep">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_c_m">&nbsp;</td>
			<td class="doc-kpi-table-data doc-kpi-table-data_rv_a_m">&nbsp;</td>
		</tr>
	</tbody>
</table>