<div class="footer__copyright">
    <img src="/images/logo_simple.svg" class="footer__copyright-logo" alt="Градостроительный комплекс Москвы"/>
{#     <p class="footer__copyright-label">
        Комплекс<br/>
        градостроительной<br/>
        политики и строительства<br/>
        города Москвы
    </p> #}
</div>