<div class="main-logo">
    <a href="{{ path('app_homepage') }}">
        <img src="/images/logo_simple.svg" alt="Градостроительный комплекс Москвы" class="main-logo__image"/>
        {# <h1 class="main-logo__title">Комплекс градостроительной политики и строительства города Москвы</h1> #}
    </a>
</div>
