{% if admin.notificationsAllowed(object)|default %}
    <a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('sendNotification', object) }}">
        <i class="fa fa-bell"></i> {{ 'btn_send_notification'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}
