<div class="footer__copyright">
    <img src="/images/logo_simple.svg" class="footer__copyright-logo" alt="Градостроителный комплекс Москвы"/>
{#     <p class="footer__copyright-label">Комплекс градостроительной политики и строительства города Москвы</p> #}
</div>