
<h4 style="font-size: 24px; padding-top: 80px; padding-bottom: 80px;">Справочник обновляется и будет доступен в скором времени</h4>

{#<data-map data-source="{{ block_path(block, context) }}"></data-map>#}
{#<div class="organization-block__list">#}
{#    <div class="organization-block__list-row">#}
{#        <div class="organization-block__list-item head name-seat">Имя и должность</div>#}
{#        <div class="organization-block__list-item head contacts">Контакты</div>#}
{#        <div class="organization-block__list-item head organization">Организация</div>#}
{#    </div>#}
{#    {% for item in items %}#}
{#        {% include '::/ContactPerson/_teaser.html.twig' with {'item': item} %}#}
{#    {% endfor %}#}
{#</div>#}

{#{% if next_offset %}#}
{#    {% include '::/Block/loadmore_button.html.twig' with {#}
{#    title: 'Ещё',#}
{#    target: '.organization-block__list',#}
{#    item: '.organization-block__list-row',#}
{#    source: block_path(block, context, {template: 'ajax_list'}),#}
{#    limit: limit,#}
{#    offset: next_offset#}
{#    } %}#}
{#{% endif %}#}
