{% if is_homepage %}
  <div class="top_banner">
    <a class="top_banner__link" href="https://mos.ru/vote2021" target="_blank"><img class="top_banner__img" src="/images/banner_top_vote_21.png" srcset="/images/banner_top_vote_21_x15.png 1.5x, /images/banner_top_vote_21_x20.png 2x"/></a>
  </div>
{% endif %}