{% if is_homepage %}
  <div class="top_graphicinfoblock">
    <a class="top_graphicinfoblock__link" href="/news/fiestival-vidieorieklamy-v-niedvizhimosti-i-stroitiel-stvie-removie-proidiet-pri-poddierzhkie-stroikomplieksa-moskvy" target="_blank"><img class="top_graphicinfoblock__img" src="/images/banner/banner_top_movie_festival.png" srcset="/images/banner/banner_top_movie_festival_x15.png 1.5x, /images/banner/banner_top_movie_festival_x20.png 2x"/></a>
  </div>
{% endif %}