


<div id="cookie_alert" class="cookie_alert" role="dialog" aria-labelledby="cookie_alert_title">
    <div class="message" role="document">
        <span id="cookie_alert_title" class="visually-hidden">Продолжая пользоваться сайтом Комплекса градостроительной политики и строительства города Москвы вы соглашаетесь на обработку файлов cookie для работы метрических программ</span><br>
        <a href="/policy" 
           target="_blank" 
           rel="noopener noreferrer"
           aria-label="Политика использования cookies (откроется в новой вкладке)">
            Подробнее...
        </a>
    </div>
    <button type="button" 
            class="cookie-accept-btn" 
            aria-label="Принять условия использования cookies"
            data-cookie-accept>
        Принять
    </button>
</div>
