<div class="feedback-block">
    <div class="feedback-block__title">
        <div class="feedback-block__title-logo">
            <object type="image/svg+xml" data="/images/logotypes/stroycomplex_40px.svg" width="40px" height="40px">
                <img src="/images/logotypes/stroycomplex_80x80.png" width="40px" height="40px" alt="stroycomplex" />
            </object>
        </div>
        <div class="feedback-block__title-text">
            <p>
                Контакт-центр Градостроительного комплекса Москвы
            </p>
        </div>
    </div>
    <div class="feedback-block__info">
        <p>
            Справочно-консультационная служба
        </p>
    </div>
    <div class="feedback-block__content">
        <div class="feedback-block__content-left">
            <div class="feedback-block__content-left-btnblock">
                <div class="feedback-block__content-left-btnblock-button">
                    <a href="https://stroi.mos.ru/goriachiie-linii" target="_blank">
                        Направить обращение
                    </a>    
                </div>
            </div>
            <p>
                Написать на почту <strong><a href="mailto:help@str.mos.ru">help@str.mos.ru</a></strong>
            </p>
        </div>
        <div class="feedback-block__content-right">
            <p>
                +7(499)401-01-01<br/>
                понедельник-пятница<br/>
                c 9:00 до 18:00
            </p>
        </div>
    </div>
</div>


<!-- Второй блок -->
<div class="feedback-block">
    <div class="feedback-block__title">
        <div class="feedback-block__title-logo">
            <object type="image/svg+xml" data="/images/logotypes/mos_ru_40px.svg" width="40px" height="40px">
                <img src="/images/logotypes/mos_ru_80x80.png" width="40px" height="40px" alt="mos_ru" />
            </object>
        </div>
        <div class="feedback-block__title-text">
            <p>
                Госуслуги и портал mos.ru
            </p>
        </div>
    </div>
    <div class="feedback-block__info">
        <p>
            Вопросы, предложения и замечания о получении госуслуг и работе <br/>mos.ru
        </p>
    </div>
    <div class="feedback-block__content">
        <div class="feedback-block__content-left">
            <div class="feedback-block__content-left-btnblock">
                <div class="feedback-block__content-left-btnblock-button">
                    <a href="https://www.mos.ru/feedback/support" target="_blank">
                        Сообщить о проблеме
                    </a>    
                </div>
                <div class="feedback-block__content-left-btnblock-button">
                    <a href="https://www.mos.ru/feedback/idea" target="_blank">
                        Предложить улучшение
                    </a> 
                </div>
            </div>
            <p>
                <small>Ответ в течение 8 рабочих дней</small>
            </p>
        </div>
        <div class="feedback-block__content-right">
            <p>
                +7(495)539-55-55<br/>
                <small>Информационно-справочная служба<br/> 
                по оказанию государственных услуг<br/></small>
                Круглосуточно
            </p>
        </div>
    </div>
</div>

<!-- Портал "Наш город" -->
<div class="feedback-block">
    <div class="feedback-block__title">
        <div class="feedback-block__title-logo">
            <object type="image/svg+xml" data="/images/logotypes/nash_gorod_40px.svg" width="40px" height="40px">
                <img src="/images/logotypes/nash_gorod_80x80.png" width="40px" height="40px"alt="nash_gorod" />
            </object>
        </div>
        <div class="feedback-block__title-text">
            <p>
                Портал &laquo;Наш город&raquo;
            </p>
        </div>
    </div>
    <div class="feedback-block__info">
        <p>
            Сообщите о проблеме в вашем доме, дворе и на улицах Москвы.</br>
            Контролируйте работу коммунальных и других городских служб
        </p>
    </div>
    <div class="feedback-block__content">
        <div class="feedback-block__content-left">
            <div class="feedback-block__content-left-btnblock">
                <div class="feedback-block__content-left-btnblock-button">
                    <a href="https://gorod.mos.ru" target="_blank">
                        Сообщить о проблеме
                    </a>    
                </div>
            </div>
            <p>
                <small>Ответ в течение 8 рабочих дней</small>
            </p>
        </div>
    </div>
</div>

<!-- Обращение в органы исполнительной власти -->
<div class="feedback-block">
    <div class="feedback-block__title">
        <div class="feedback-block__title-logo">
            <object type="image/svg+xml" data="/images/logotypes/moscow_logo_40px.svg" width="40px" height="40px">
                <img src="/images/logotypes/moscow_logo_80x80.png" width="40px" height="40px" alt="moscow_logo" />
            </object>
        </div>
        <div class="feedback-block__title-text">
            <p>
                Обращение в органы исполнительной власти
            </p>
        </div>
    </div>
    <div class="feedback-block__info">
        <p>
            Вопросы в адрес мэра Москвы, правительства Москвы и органов<br/>
            исполнительной власти Москвы
        </p>
    </div>
    <div class="feedback-block__content">
        <div class="feedback-block__content-left">
            <div class="feedback-block__content-left-btnblock">
                <div class="feedback-block__content-left-btnblock-button">
                    <a href="https://www.mos.ru/feedback/reception" target="_blank">
                        Направить обращение
                    </a>    
                </div>
            </div>
            <p>
                <small>Ответ в течение 30 дней</small>
            </p>
        </div>
        <div class="feedback-block__content-right">
            <p>
                +7(495)777-77-77<br/>
                <small>Единая справочная служба<br/>
                правительства Москвы<br/></small>
                Круглосуточно
            </p>
        </div>
    </div>
</div>