<div class="frozen-screen">
    <div class="frozen-screen__hand"></div>
    <div class="frozen-screen__message"></div>
    <a href="javascript:void(0)" class="frozen-screen__close"></a>
    <img src="/images/frozen_screen/bg.jpg" alt="" />
</div>