<div class="subscribe_telegram">
    <a href="https://t.me/stroi_mos_ru" target="_blank">
        <div class="subscribe_telegram__content subscribe_telegram__content_strong">
            <p>
                Все о&nbsp;московских стройках&nbsp;&mdash; в&nbsp;Телеграм
            </p>
        </div>
        <span class="subscribe_telegram__image"></span>
    </a>
</div>
