<div id=subscribe-title class="subscribe-form__wrap subscribe-form-new container__unlimited">
    <div class="subscribe-form__color">
        <div class="subscribe-form__inner">
            <div class="subscribe-form">
                <h2 class="subscribe-form__title">Рассылка новостей</h2>
                <p class="subscribe-form__label">Получайте ежедневную подборку актуальных публикаций о строительстве в Москве</p>
                <p id="subscribe-form__message" class="subscribe-form__label" style="display: none;"></p>
                <form id="subscribe-form" class="subscribe-form__form" action="{{ path('email_subscription_subscribe') }}">
                    <input name="form[email]" class="subscribe-form__email" type="text" placeholder="Введите Ваш e-mail" required>
                    <button type="submit" name="form[submit]" class="subscribe-form__btn">Отправить</button>
                    <select
                        id="adminUnitsSelector"
                        name="form[administrativeUnits][]"
                        class="subscribe-form__adm-units"
                        multiple="multiple"
                        placeholder="+ Выбор округа/района"
                        data-options='{{ adminAreaOptions | json_encode | raw }}'
                    >
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>
