{#<div class="subscribe_telegram">#}
{#    <a href="https://t.me/stroi_mos_ru" target="_blank">#}
{#        <div class="subscribe_telegram__logo">#}
{#            <object type="image/svg+xml" data="/images/icons/telegram_logo.svg" width="36px" height="36px">#}
{#                <img src="/images/icons/telegram_logo_36x36.png" width="36px" height="36px" alt="telegram" />#}
{#            </object>#}
{#        </div>#}
{#        <div class="subscribe_telegram__content">#}
{#            <p>#}
{#                Подписывайтесь на&nbsp;<span>Stroi.mos.ru</span>#}
{#            </p>#}
{#        </div>#}
{#    </a>#}
{#</div>#}
