<div class="videogallery-block">
    <div class="videogallery-block__video">
        <iframe src="{{ videogallery.uri }}"></iframe>
    </div>
    <ul class="videogallery-block__bottom">
        <li class="videogallery-block__bottom-item">галерея</li>
        <li class="videogallery-block__bottom-item videogallery-block__videogallery-title">{{ videogallery.title }}</li>
    </ul>
</div>