<nav class="page-header__section">
    {% include '::/widgets/header/_top_menu.html.twig' with {'menu': knp_menu_get('top_menu')} %}
</nav>
<nav class="page-header__section">
    {% include '::/widgets/header/_main_menu.html.twig' with {'menu': knp_menu_get('header_main')} %}
</nav>