{% include 'Subordinate/widgets/footer/_navigation.html.twig' with {'menu': knp_menu_get('main_menu_footer')} %}
<div class="footer-menu__row">
    {% include 'Subordinate/widgets/footer/_menu.html.twig' with {'menu': knp_menu_get('media_menu_footer'), class: 'footer-menu__smi'} %}
    {% include 'Subordinate/widgets/footer/_menu.html.twig' with {'menu': knp_menu_get('about_menu_footer'), class: 'footer-menu__about'} %}
</div>