<div class="bu-buttons__wrap">
    <a id="toTop" class="bu-buttons__link" href="#"></a>
    <a id="toBottom" class="bu-buttons__link" href="#"></a>
    {% if not is_homepage|default %}
        <a id="backUp" class="bu-buttons__link" href="#"></a>
    {% endif %}
</div>