<td class="sonata-ba-list-field sonata-ba-list-field-text" objectId="{{ admin.id(object) }}">
    <a class="sonata-link-identifier btn btn-sm btn-primary" href="{{ admin.generateUrl('admin.comment.list', {'id': admin.id(object)}) }}" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
        <i class="glyphicon glyphicon-list"></i>
        {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
    </a>
</td>
