<div class="current-construction__block">
    <a href="{% if file %}{% path file, 'reference' %}{% endif %}" class="current-construction__map big road">
        <div class="current-construction__map-info">
            <p>{{ title }}</p>
            <i></i>
            <span class="current-construction__map-link">
                <i></i>
                Скачать PDF
            </span>
        </div>
    </a>
</div>