<div class="current-construction__block">
    <a href="{{ link }}" class="current-construction__map big road interchange">
        <div class="current-construction__map-info">
            <p>{{ title }}</p>
            <i></i>
            <span class="current-construction__map-link">
                <i></i>
                Читать статью
            </span>
        </div>
    </a>
</div>