{% extends '::/layout/layout.html.twig' %}

{% block content %}
    <div class="subscribe-block">
        <h1 class="subscribe-block__title">Управление рассылкой</h1>
        <div class="image-banner"></div>
        <p class="subscribe-block__legend">Спасибо, ваш электронный адрес был успешно подтверждён!</p>
        <div class="subscribe-block__legend">
            <button class="subscribe-block__btn" onclick="javascript:window.location.reload(true)">Отписаться</button>
        </div>
    </div>
{% endblock %}
