{% extends '::/layout/layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function() {
            setTimeout(function() {
                window.location = '/'
            }, 3000)
        })()
    </script>

{% endblock %}

{% block content %}
    <div class="unsubscribe-block">
        <h2 class="unsubscribe-block__title">{{ message }}</h2>
        <div class="image-banner"></div>
        <p class="unsubscribe-block__uri"><a href="{{ path('app_homepage') }}">Перейти на Главную страницу</a></p>
    </div>
{% endblock %}
