<div class="current-construction__block">
    <a href="{{ link|default('https://www.mos.ru/city/projects/noviydom/') }}" class="current-construction__map big renovation">
        <div class="current-construction__map-info">
            <p>{{ title|default('Программа реновации:<br/><br/> проверка голоса, промежуточные итоги, вопросы и ответы')|raw }}</p>
            <i></i>
        </div>
    </a>
</div>
