{# Руководство #}

<div class="direction-page">
    <article class="direction-page__person-top">
        <div class="direction-page__person-top-image-wrap">
          <img class="direction-page__person-top-image" src="http://valent.stroimos.flant.ru/uploads/media/gallery_media/0001/49/beaa51183d523c2eed122c7ecc44261ee9645d97-gallery_media_thumb300.jpeg" alt="Интервью руководителя Департамента строительства Москвы Андрей Бочкарева телеканалу &quot;Москва 24&quot;">
        </div>
        <div class="direction-page__person-top-info-wrap">
          <header class="direction-page__person-top-name">
              Гончаров<br/> Александр Анатольевич
          </header>
          <span class="direction-page__person-top-separator"></span>
          <span class="direction-page__person-top-title">
              Заместитель председателя Комитета города Москвы по обеспечению реализации инвестиционных проектов в строительстве и контролю в области долевого строительства
          </span>
        </div>
    </article>
    <div class="direction-page__list">
        {% set k = 5 %}
        {% for i in range(1, k) %}
          <article class="direction-page__person">
              <div class="direction-page__person-image-wrap">
                <img class="direction-page__person-image" src="http://valent.stroimos.flant.ru/uploads/media/gallery_media/0001/49/beaa51183d523c2eed122c7ecc44261ee9645d97-gallery_media_thumb300.jpeg" alt="Интервью руководителя Департамента строительства Москвы Андрей Бочкарева телеканалу &quot;Москва 24&quot;">
              </div>
              <div class="direction-page__person-info-wrap">
                <header class="direction-page__person-name">
                    Гончаров<br/> Александр Анатольевич
                </header>
                <span class="direction-page__person-separator"></span>
                <span class="direction-page__person-title">
                    Заместитель председателя Комитета города Москвы по обеспечению реализации инвестиционных проектов в строительстве и контролю в области долевого строительства
                </span>
              </div>
          </article>
        {% endfor %}
    </div>
</div>

{# Подведомственные организации #}

<div class="departments-page">
  <article class="departments-page__item">
    <h2 class="departments-page__item-subtitle">Казенное предприятие города Москвы</h2>
    <h1 class="departments-page__item-title">«Управление гражданского строительства»</h1>
    <div class="departments-page__item-person">
      <div class="departments-page__item-person-name">
        Газизов <br/>Дамир Кутдусович
      </div>
      <div class="departments-page__item-person-title">
        Руководитель
      </div>
    </div>
    <div class="departments-page__item-text">
      <p>
        125375, г. Москва, ул. Тверская, д.7<br/>
        +7 (495) 505-60-80
      </p>
      <p>
        <a href="mailto:info@kpugs.ru">info@kpugs.ru</a><br/>
        <a href="http://kpugs.ru/">http://kpugs.ru/</a>
      </p>
    </div>
  </article>
</div>

{# График приёма #}

<div class="admission-page">
    <div class="admission-page__title">
      <h2>
        График приема граждан
        <br/>
        на II полугодие 2017 года
      </h2>
    </div>
    <div class="admission-page__person-list">
      <div class="admission-page__person">
          <div class="admission-page__person-image-wrap">
            <img class="admission-page__person-image" src="/uploads/media/person/0001/66/ec619ee58d8f232c1f3c069c5ff80330e3465ead.jpeg" alt="">
          </div>
          <div class="admission-page__person-name">
            <span class="admission-page__person-name-content">О.В. Рындин</span>
          </div>
          <ul class="admission-page__person-options">
            <li class="admission-page__person-option">
              <i class="icon icon-admission icon-person"></i> <span class="admission-page__person-option-text">Должность: первый заместитель руководителя</span>
            </li>
            <li class="admission-page__person-option">
              <i class="icon icon-admission icon-date"></i> <span class="admission-page__person-option-text">Дата: 14 декабря</span>
            </li>
            <li class="admission-page__person-option">
              <i class="icon icon-admission icon-time"></i> <span class="admission-page__person-option-text">Время: 14-00 до 16-00</span>
            </li>
          </ul>
      </div>
    </div>
</div>

{# О комитете #}

<div class="about-page">
  <a href="#" class="about-page__item about-page__item_bg-image about-page__item_height-l" style="background-image:url(/images/tmp/about/bg-1.png)">
    О комитете
  </a>
  <div class="about-page__column about-page__column-left">
    <a href="#" class="about-page__item about-page__item_border about-page__item_height-s">
      Руководство
    </a>
    <a href="#" class="about-page__item about-page__item_bg-gray about-page__item_height-m">
      Функции и полномочия
    </a>
  </div>
  <div class="about-page__column about-page__column-right">
    <a href="#" class="about-page__item about-page__item_bg-image about-page__item_height-xl" style="background-image:url(/images/tmp/about/bg-2.png)">
      Положение
    </a>
  </div>
  <div class="clear"></div>
  <a href="#" class="about-page__item about-page__item_border about-page__item_height-s">
    Подведомственные организации
  </a>
</div>

{# Справочная информация (FAQ) #}

<section class="faq-list" style="overflow: hidden; transition: none; height: auto;">
  <article class="faq-list__teaser">
      <aside class="faq-list__teaser-options">
          <div class="faq-list__teaser-themes">
            <i class="icon icon-16 icon-news"></i>
            <a href="#">Строительство метро</a>
          </div>
      </aside>
      <a class="faq-item-list__teaser-slug" href="/faq/uchastok-mietro-ot-ramienok-do-michurinskogho-prospiekta-moghut-zapustit-v-martie-khusnullin">
          <span class="faq-list__teaser-meta">
            <img class="faq-list__teaser-img" src="https://stroi.mos.ru/uploads/cache/main_image_thumb210/main_image/0001/56/e81419f8b494513a9b89f17e52265d82462a8391.jpeg" width="210px" height="150px">
          </span>
          <div class="faq-list__teaser-faq-item">
              <header class="faq-list__teaser-header">
                <h3 class="faq-list__teaser-title">Как принять участие в экскурсии на строительную площадку метро?</h3>
              </header>
              <p class="faq-list__teaser-announce">В 2017 году Департамент строительства города Москвы будет проводить экскурсии на строительные площадки метрополитена. Ниже можно ознакомиться с механизмом записи на экскурсии.</p>
          </div>
      </a>
  </article>

  {# без ссылок #}
  <article class="faq-list__teaser">
      <aside class="faq-list__teaser-options">
          <div class="faq-list__teaser-themes">
            <i class="icon icon-16 icon-news"></i>
            <span>Строительство метро</span>
          </div>
      </aside>
      <div class="faq-item-list__teaser-slug">
          <span class="faq-list__teaser-meta">
            <img class="faq-list__teaser-img" src="https://stroi.mos.ru/uploads/cache/main_image_thumb210/main_image/0001/56/e81419f8b494513a9b89f17e52265d82462a8391.jpeg" width="210px" height="150px">
          </span>
          <div class="faq-list__teaser-faq-item">
              <header class="faq-list__teaser-header">
                <h3 class="faq-list__teaser-title">Как принять участие в экскурсии на строительную площадку метро?</h3>
              </header>
              <p class="faq-list__teaser-announce">В 2017 году Департамент строительства города Москвы будет проводить экскурсии на строительные площадки метрополитена. Ниже можно ознакомиться с механизмом записи на экскурсии.</p>
          </div>
      </div>
  </article>
</section>

{# Пресс-служба #}

<div class="press-page">
  <div class="press-page__person">
    <div class="press-page__person-name">
      Косарева <br/>Татьяна Николаевна
    </div>
    <div class="press-page__person-title">
      Руководитель пресс-службы<br/> Москомстройинвеста
    </div>
  </div>
  <div class="press-page__text">
    <p>
      Адрес: 125009, г.Москва, ул. Воздвиженка, д. 8/1, стр.1<br/>
      Телефон: —-<br/>
      Факс: —-<br/>
      Электронный адрес: <a href="mailto:press-mksi@mos.ru">press-mksi@mos.ru</a><br/>
    </p>
  </div>
  <div class="press-page__info-list">
    {% set k = 3 %}
    {% for i in range(1, k) %}
      <div class="press-page__info-item">
        <div class="press-page__info-item-title">Рекомендуемый порядок подачи запросов от представителей СМИ:</div>
        <div class="press-page__info-item-text">Запросы принимаются в электронном виде на адрес: <a href="mailto:press-mksi@mos.ru">press-mksi@mos.ru</a>. Необходимо указать время и место публикации, тему, список вопросов, контактную информацию корреспондента</div>
      </div>
    {% endfor %}
  </div>
</div>

{# Контакты #}

<div class="contacts-page">
    <div class="contacts-page__content">
        <p>
        <span class="contacts-page__content-label">Адрес:</span>
        <span class="contacts-page__content-huge">125009, г. Москва, улица Воздвиженка, дом 8/1, строение 1</span>
        </p>
        <p>
        <span class="contacts-page__content-label">Телефон:</span>
        <span class="contacts-page__content-huge">+7 (495) 620–2935</span>
        </p>
        <p>
        <span class="contacts-page__content-label">Факс:</span>
        <span class="contacts-page__content-huge">+7 (495) 633–6648</span>
        </p>
        <p>
        <span class="contacts-page__content-label">Горячая линия:</span>
        <span class="contacts-page__content-huge">+7 (495) 645–8096</span>
        </p>
        <p>
        <span class="contacts-page__content-label">Работа службы «одного окна»:</span>
        Понедельник - Четверг c 08:00 до 17:00<br/>
        Пятница c 08:00 до 15:45<br/>
        Обед c 12:00 до 13:00<br/>
        </p>
    </div>
    <div class="container__full contacts-page__map-image" style="background-image: url('https://i.imgur.com/IDuKAEw.png')"></div>
</div>
