{% if description %}
<div class="objects-construction container__full">
    <h3 class="objects-construction__title">Описание</h3>
    <div class="objects-construction__legend">
        {{ description|raw }}
    </div>
</div>
{% endif %}